# --- Core Deep Learning & PyTorch ---
torch==2.4.1
torchvision==0.19.1
torchaudio==2.4.1
torch-directml==0.2.5.dev240914

# --- Vector Database & Storage ---
chromadb

# --- Cross-Encoder & Embedding Tools ---
sentence-transformers==3.4.1
transformers==4.49.0
FlagEmbedding==1.3.5
tokenizers
huggingface-hub

# --- PDF Loading & Text Processing ---
pymupdf4llm
pymupdf
langdetect

# --- Utility & HTTP Requests (Ollama Communication) ---
requests
pydantic
tqdm
numpy

# --- Backend Web Framework (Buat Deployment API Nanti) ---
fastapi
uvicorn
